body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-anchor: none;
}

body {
    background-color: #F5F7FF !important;
    display: flex;
    flex-direction: column;
}

body.swal2-shown {
    padding-right: 0 !important;
}

.main-content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.dashboard-text-container .col-12 .dashboard-text-container-card {
    background-color: #FFFFFF !important;
    box-shadow: 0 4px 12px rgba(10, 25, 49, 0.15) !important;
}

.dashboard-text-container .col-12 .dashboard-text-container-card .dashboard-text-title {
    color: #011901 !important;
}

.dashboard-data-container .col-12 .dashboard-data-container-card {
    background-color: #D9E7D1 !important;
    border: none !important;
    box-shadow: 0 4px 12px rgba(10, 25, 49, 0.15) !important;
}

.image-container {
    min-height: 40px;
    height: 70px;
    width: auto;
    border-radius: 50%; /* makes it circular */
    overflow: hidden;   /* hides corners outside circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9616;
    color: white;
}

#map {
    height: 500px;
    width: 100%;
}

hr {
    border: 1px solid black !important;
}