body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-anchor: none;
}

body {
    background-color: #F5F7FF !important;
    display: flex;
    flex-direction: column;
}

body.swal2-shown {
    padding-right: 0 !important;
}

.main-content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.image-container {
    min-height: 40px;
    height: 60px;
    width: auto;
    border-radius: 50%; /* makes it circular */
    overflow: hidden;   /* hides corners outside circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #032F04;
    color: white;
}

.touristspots-text-container .col-12 .touristspots-datacount-container-card {
    background-color: #D9E7D1 !important;
    border: none;
}

.touristspots-text-container .col-12 .touristspots-text-title {
    color: #044F06;
}

.touristspots-text-container .col-12 .touristspots-text-title-extension {
    color: #011901;
}

hr {
    border: 1px solid black !important;
}

.touristspots-table-container .touristspots-action-container .touristspots-action-container-card {
    height: 100%;
    background-color: #D9E7D1 !important;
}

.touristspots-table-container .touristspots-action-container .touristspots-action-container-card .card-header {
    border-bottom: 3px solid #032F04;
}

.touristspots-table-container .touristspots-action-container .touristspots-action-container-card .card-body .verify-user-btn,
.touristspots-table-container .touristspots-action-container .touristspots-action-container-card .card-body .reset-password-btn, 
.touristspots-table-container .touristspots-action-container .touristspots-action-container-card .card-body .edit-btn {
    background-color: #FF9616;
    color: #FFFFFF;
}

.touristspots-table-container .touristspots-action-container .touristspots-action-container-card .card-body .delete-user-btn {
    background-color: #FF5416;
    color: #FFFFFF;
}