body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-anchor: none;
}

body {
    background-color: #F5F7FF !important;
    display: flex;
    flex-direction: column;
}

body.swal2-shown {
    padding-right: 0 !important;
}

.main-content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.image-container {
    min-height: 40px;
    height: 60px;
    width: auto;
    border-radius: 50%; /* makes it circular */
    overflow: hidden;   /* hides corners outside circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #032F04;
    color: white;
}

.travelers-text-container .col-12 .travelers-datacount-container-card {
    background-color: #AFCAAF !important;
    border: none;
}

hr {
    border: 1px solid black !important;
}